<div class="main-page-header">
  <div class="time-nav">
    <ul class="time-nav">
      <li>
        <i class="bi bi-geo-alt"></i>
        12074 Twin Oaks Dr, Magnolia Springs, AL 36555
      </li>
      <li>
        <i class="bi bi-clock"></i>
        {{date}}
      </li>
      <li>
        <i class="bi bi-telephone-fill"></i>
        033-819179
      </li>
    </ul>
  </div>
  
  <div class="icon-nav">
    <ul class="icon-nav">
      <li><i class="bi bi-facebook"></i></li>
      <li><i class="bi bi-youtube"></i></li>
        <li><i class="bi bi-instagram"></i></li>
        <li><i class="bi bi-twitter"></i></li>
  
      </ul>
      <button class="vote-button">
        <li class="notification">
          <i class="bi bi-bell" style="color: azure;"></i>
        </li>
        GET A QUOTE
      </button>
  </div>
  
  </div>
  

<div class="header">
  <div class="header-logo" >
  <span><img src="../../assets/imgs/logo.png" alt="iBlog" width="70px" height="70px" /></span>
  </div>
  <div class="header-links">
   <ul>
    <li>  <a href="" style="color:rgb(20, 208, 49); ">  Home </a>   </li>
    <li><a href="">  About Us</a>   </li>
    <li><a href="">  Services </a>  </li>
    <li><a href="">  FAQS </a>   </li>
    <li><a href="">  BLOG </a>   </li>
    <li><a href="">  TESTiMONIAL </a> </li>
    <li><a href="">  shop </a>   </li>
    <li><a href="">  Contacts </a></li>  
   </ul>

  </div>

  <div class="cart-icons">
  <li> <i class="bi bi-search" style="margin-right: 30px;"></i> </li>

  <li> <i class="bi bi-cart-fill" ></i> </li>
  </div>

</div>