.main-page-header{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 60px;
    width: 100%;
    background-color: rgb(255, 251, 251);
    padding: 14px;
}
li{
    text-decoration: none;
    list-style: none;
}
.time-nav{
    display: flex;
    justify-content: space-around;
}
.time-nav li{
    margin-right: 30px;
}
.time-nav li i{
    color: rgb(20, 208, 49);
}
.icon-nav{
    width: 400x;
    display: flex;
    justify-content: space-around;
}
.icon-nav li{
    margin-right: 10px;
    color: gray;
    width: 50px;
    height: 50px;
}
.vote-button{
     width: 200px;
     height: 40px;
     padding: 8px;
     margin-top: -6px;
     border-radius: 20px;
     background-color: rgb(60, 140, 193);
     color: white;
     border: none;
}
.icon-nav li {
    display: inline-block;
    margin-right: 10px;
  }
  .icon-nav .notification {
    position: relative;
    display: inline-block;
  }
  .notification .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
  .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-top: 10px;
    padding: 14px;
  }

  .header-links{
    display: flex;

  }
  .header-links ul{
    display: flex;
  
  }
  .header-links ul li a{
     color: gray;
     text-transform: uppercase;
     margin-right: 25px;
     font-weight: 600;
  }
  .header-links ul li a .active{
    color:rgb(20, 208, 49); 
  }
  .header-links ul li a:hover{
     color:rgb(20, 208, 49); 
     text-decoration: none;
     
  }
  .cart-icons{
    display: flex;
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
  .cart-icons li{
    color: rgb(107, 102, 102);
  }
 
  .col h2{
    width: 600px;
    word-wrap: break-word;
    text-align: center;
    white-space: pre-line;
    margin-left: 80px;
  }
  .col{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .button-heading{
    display: flex;

  }
  .book-text{
    opacity: 0.9;
    
  }
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .animated-text {
    animation: slideIn 5s;
  }
  a:hover{
    cursor: pointer;
  }