<!-- <app-header></app-header> -->

<!-- SECTION    11111111111111111111111111 -->
<section class="mt-4" style="background: url(&quot;https://servicemarket.imgix.net/dist/images/homepage/header-dubai.jpg?fit=crop&amp;w=1349&amp;h=442&amp;auto=format,compress&amp;exp=-3.9&amp;q=46&quot;)
       center center / cover no-repeat; min-height: 300px; max-width: 98.5%; margin: auto;">
  <div class="py-5">
    <div class="container py-5 px-4">
      <div class="row home-headerText">
        <div class="col">

          <div class="button-heading" style="margin-top: 40px; margin-right: 5px;">
            <button class="vote-button" style="background-color:  orange; margin-right: 5px;">
              BOOK ME
            </button>

            <button class="vote-button">
              GET A QUOTE
            </button>
          </div>

          <div class="book-text">
            <h2 class="text-center text-white font-weight-bold animated-text">
              Sit back, we'll take it from here
              Book or get free quotes for over 25 home
              services from trusted companies in Dubai.....</h2>
          </div>

          <!-- <h1 class="mb-8 text-center text-white font-weight-bold"></h1> -->

        </div>
      </div>
    </div>
  </div>
</section>
<!-- section   222222222222222222222222222222 -->

<div class="container" style="max-width:98.6%; margin: auto;">
  <div class="service-container">
    <h1 class="service-heading">All Services</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Cleaning Services" />
        <h2>Cleaning Services</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Furniture Cleaning" />
        <h2>Furniture Cleaning</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Maid Services" />
        <h2>Maid Services</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Pest Control Services" />
        <h2>Pest Control Services</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Landscape Services" />
        <h2>Landscape Services</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Disinfection and Sanitization Services" />
        <h2>Disinfection and Sanitization</h2>
      </div>
    </div>
  </div>

</div>



<!-- Section 66666666666666666666666666666 -->
<div class="container">
  <!-- <img src="../../assets/imgs/1.jpg" alt=""> -->
  <div class="counter-wrapper">
    <div class="counter">
      <img src="../../assets/imgs/4.png" width="100" height="70">
      <h1 class="count">1500</h1>
      <p>Happy Customers</p>
    </div>
    <div class="counter">
      <img src="../../assets/imgs/3.png" width="100" height="70">
      <h1 class="count">100%</h1>
      <p>Service Guarantee</p>
    </div>
    <div class="counter">
      <img src="../../assets/imgs/2.png" width="100" height="70">
      <h1 class="count">30+</h1>
      <p>Cleaners</p>
    </div>
    <div class="counter">
      <img src="../../assets/imgs/1.png" width="100" height="70">
      <h1 class="count">1000</h1>
      <p>Cleans Completed</p>
    </div>
  </div>

</div>