.main-page-header{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 60px;
    width: 100%;
    background-color: rgb(255, 251, 251);
    padding: 14px;
}
li{
    text-decoration: none;
    list-style: none;
}
.time-nav{
    display: flex;
    justify-content: space-around;
}
.time-nav li{
    margin-right: 30px;
}
.time-nav li i{
    color: rgb(20, 208, 49);
}
.icon-nav{
    width: 400x;
    display: flex;
    justify-content: space-around;
}
.icon-nav li{
    margin-right: 10px;
    color: gray;
    width: 50px;
    height: 50px;
}
.vote-button{
     width: 200px;
     height: 40px;
     padding: 8px;
     margin-top: -6px;
     border-radius: 20px;
     background-color: rgb(60, 140, 193);
     color: white;
     border: none;
}
.icon-nav li {
    display: inline-block;
    margin-right: 10px;
  }
  .icon-nav .notification {
    position: relative;
    display: inline-block;
  }
  .notification .badge {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 3px 6px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
  .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-top: 10px;
    padding: 14px;
  }

  .header-links{
    display: flex;

  }
  .header-links ul{
    display: flex;
  
  }
  .header-links ul li a{
     color: gray;
     text-transform: uppercase;
     margin-right: 25px;
     font-weight: 600;
  }
  .header-links ul li a .active{
    color:rgb(20, 208, 49); 
  }
  .header-links ul li a:hover{
     color:rgb(20, 208, 49); 
     text-decoration: none;
     
  }
  .cart-icons{
    display: flex;
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
 
  .col h2{
    width: 600px;
    word-wrap: break-word;
    text-align: center;
    white-space: pre-line;
    margin-left: 80px;
  }
  .col{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .button-heading{
    display: flex;

  }
  .book-text{
    opacity: 0.9;
    
  }
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .animated-text {
    animation: slideIn 5s;
  }
  a:hover{
    cursor: pointer;
  }


  /* Section 6666666666666666666666666666 */

.counter-wrapper{
  background: url('../../assets/imgs/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  padding: 8rem;
  position: relative;
}
.counter-wrapper::before{
  position: absolute;
  content: '';
  content: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.counter{
 text-align: center;   
 color: #ddd;
 z-index: 2;
 position: relative;
}
.counter::before{
  position: absolute;
  content: '';
  bottom: -2rem;
  left: 50%;
  width: 20%;
  height: .2rem;
  background: #23833b;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.counter .count{
  font-size: 5rem;
  margin-bottom: 1rem;    
}
.counter p{
  font-size: 1.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

@media (max-width: 991px) {
  html{
      font-size: 55%;
  }
}
@media (max-width: 768px) {
 .counter-wrapper{
     grid-template-columns: repeat(2, 1fr);
     grid-row-gap: 8rem;
 }
}
@media (max-width: 450px) {
  html{
      font-size: 50%;
  }
  .counter-wrapper{
      grid-template-columns: 1fr;
  }
}

@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1900px;
}
}

/* SECTION 222222222222222222222222222 */

.service-heading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.row::before{
  position: absolute;
  content: '';
  margin-top: 20rem;
  left: 50%;
  width: 20%;
  height: .2rem;
  background: #23833b;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.service-item {
  margin-bottom: 30px;
  text-align: center;
}

.service-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.service-item h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #0e58a2; /* Dark blue color */
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 50px;
}

.col-md-4 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}