
<!-- <app-header></app-header> -->
  
  
  <section class="mt-4" style="background: url(&quot;https://servicemarket.imgix.net/dist/images/homepage/header-dubai.jpg?fit=crop&amp;w=1349&amp;h=442&amp;auto=format,compress&amp;exp=-3.9&amp;q=46&quot;)
       center center / cover no-repeat; min-height: 300px;">
      <div class="py-5">
          <div class="container py-5 px-4">
              <div class="row home-headerText">
                  <div class="col">
  
                    <div class="button-heading" style="margin-top: 40px; margin-right: 5px;">
                      <button class="vote-button" style="background-color:  orange; margin-right: 5px;">
                        BOOK ME
                      </button>
                      
                      <button class="vote-button">
                        GET A QUOTE
                      </button>
                    </div>
                    
                      <div class="book-text">
                        <h2 class="text-center text-white font-weight-bold animated-text">
                          Sit back, we'll take it from here
                          Book or get free quotes for over 25 home 
                          services from trusted companies in Dubai.....</h2>
                        </div>
                       
                      <!-- <h1 class="mb-8 text-center text-white font-weight-bold"></h1> -->
                     
                  </div>
              </div>
          </div>
      </div>
  </section>
  <app-header></app-header>
 <app-footer></app-footer>
  <app-root></app-root>