<!-- <app-header></app-header> -->

<!-- SECTION    11111111111111111111111111 -->
<section class="mt-4" style="background: url(&quot;https://servicemarket.imgix.net/dist/images/homepage/header-dubai.jpg?fit=crop&amp;w=1349&amp;h=442&amp;auto=format,compress&amp;exp=-3.9&amp;q=46&quot;)
       center center / cover no-repeat; min-height: 300px; max-width: 98.5%; margin: auto;  margin-bottom: 30px;">
  <div class="py-5">
    <div class="container py-5 px-4">
      <div class="row home-headerText">
        <div class="col">

          <div class="button-heading" style="margin-top: 40px; margin-right: 5px;">
            <button class="vote-button" style="background-color:  orange; margin-right: 5px;">
              BOOK ME
            </button>

            <button class="vote-button">
              GET A QUOTE
            </button>
          </div>

          <div class="book-text">
            <h2 class="text-center text-white font-weight-bold animated-text">
              Sit back, we'll take it from here
              Book or get free quotes for over 25 home
              services from trusted companies in Dubai.....</h2>
          </div>

          <!-- <h1 class="mb-8 text-center text-white font-weight-bold"></h1> -->

        </div>
      </div>
    </div>
  </div>
</section>
<!-- section   222222222222222222222222222222 -->

<div class="container" style="max-width:98.6%; margin: auto;">
  <div class="service-container" style="max-width: fit-content; margin: auto ">
    <h1 class="service-heading">All Services</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Cleaning Services" />
        <h2>Cleaning Services</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Furniture Cleaning" />
        <h2>Furniture Cleaning</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Maid Services" />
        <h2>Maid Services</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Pest Control Services" />
        <h2>Pest Control Services</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Landscape Services" />
        <h2>Landscape Services</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-item">
        <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" alt="Disinfection and Sanitization Services" />
        <h2>Disinfection and Sanitization</h2>
      </div>
    </div>
  </div>

</div>

<!-- Section 3333333333333333333 -->
  <div class="container" style="max-width:98.6%; margin: auto;">
    <h2 class="center-heading">SEARCH AND SCHEDULE ANY SERVICE IN FEW TAPS!</h2>
    <div class="search-bar">
      <input type="text" placeholder="Search for Hot Deals">
      <button><i class="fas fa-search"></i>Go</button>
    </div>
    <div class="row service-row">
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/blue (1).jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Moving Services">
            <div class="image-text">
              <span>Moving</span>
              <span>Services</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Cleaning Service">
            <div class="image-text">
              <span>Cleaning</span>
              <span>Service</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 1">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 1</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 2">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 2</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 3">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 3</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 4">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 4</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="row service-row">
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/blue (1).jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Cleaning Services">
            <div class="image-text">
              <span>Cleaning</span>
              <span>Services</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Cleaning Service">
            <div class="image-text">
              <span>Cleaning</span>
              <span>Service</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 1">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 1</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 2">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 2</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 3">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 3</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 4">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 4</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="row service-row">
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/blue (1).jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Maintenance Services">
            <div class="image-text">
              <span>Maintenance</span>
              <span>Services</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Cleaning Service">
            <div class="image-text">
              <span>Cleaning</span>
              <span>Service</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 1">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 1</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 2">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 2</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 3">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 3</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="service-item">
          <div class="image-container">
            <img src="../../assets/imgs/service2.jpg" class="bd-placeholder-img square-img" style="width: 150px; height: 150px;" alt="Additional Service 4">
            <div class="image-text">
              <span>Additional</span>
              <span>Service 4</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>

  </div>


<!-- Section 44444444444444555555555555555555 -->

<section style="max-width:94.6%; margin: auto;">
  <div class="container-fluid"></div>
  <h1 class="main-heading">Why Choose Us</h1>
  <div class="row  mt-5">
  <div class="col-6">
      <div class="row">
      <div class="col-6 d-flex flex-column align-items-center">
          <img src="../../assets/imgs/cleaning.png" alt="" width="400px" height="500px">
      </div>
      <div class="col-6 d-flex flex-column align-items-center dual-image">
          <img src="../../assets/imgs/cleaning.png" alt="" width="400px" height="220px">
          <img  class="mt-5" src="../../assets/imgs/cleaning.png" alt="" width="400px" height="230px">
      </div>
  </div>
  </div>
  <div class="col-6">
      <h1>Reasons to <span class="text-primary">Choose Us</span></h1>
      <p>Behind our commitment to excellence are few key attributes that define who we are and what make us diffirent from any other.</p>
      <div class="row">
          <div class="col-1 mt-4 justify-content-center">
              <img  class="w-50 leaf-img" src="../../assets/imgs/pngwing.com.png" alt="leaf image">
          </div>
          <div class="col-11 mt-4 justify-content-center">
              <h2> Top-Rated Company</h2>
              <p class="mt-4">
                  We hold sucessful track record of satisfying out customers and getting back their bondy money.
              </p>

          </div>
      </div>
      <div class="row">
          <div class="col-1 mt-4 justify-content-center">
              <img  class="w-50 leaf-img" src="../../assets/imgs/pngwing.com.png" alt="leaf image">
          </div>
          <div class="col-11 mt-4 justify-content-center">
              <h2> Superior Quality</h2>
              <p class="mt-4">
                  We use the most excellent quality tools and equipemnt to get all the dust and dirt out of your premises.
              </p>

          </div>
      </div>
      <div class="row">
          <div class="col-1 mt-4 justify-content-center">
              <img  class="w-50 leaf-img" src="../../assets/imgs/pngwing.com.png" alt="leaf image">
          </div>
          <div class="col-11 mt-4 justify-content-center">
              <h2> Eco-Driendly Products</h2>
              <p class="mt-4">
                  We hold sucessful track record of satisfying out customers and getting back their bondy money.
              </p>

          </div>
      </div>
  </div>
</div>
<div class="container mt-5">
  <h1 class="text-center">Why Choose Eco Guardian</h1>
  <div class="row mt-5 ">
      <div class="col-3 d-flex flex-column justify-content-center align-items-center ">
          <img  class=" "src="../../assets/imgs/clipart3078264 (1).png" alt="rating" width="100px">
          <h6 class="mt-3 text-center quality-headings"> Top Rated Professions</h6>
          <sub class="text-center"> Our Professionals are reliable & well trained</sub> 
      </div>
      <div class="col-3 d-flex flex-column justify-content-center align-items-center ">
          <img  class=" " src="../../assets/imgs/calendar.png" alt="rating" width="100px">
          <h6 class="mt-3 text-center quality-headings"> Same-day avalibility</h6>
          <sub class="text-center"> Our Professionals are reliable & well trained</sub> 
      </div>
      <div class="col-3 d-flex flex-column justify-content-center align-items-center ">
          <img  class=" "src="../../assets/imgs/growth.png" alt="rating" width="100px">
          <h6 class="mt-3 text-center quality-headings"> Top Quality, Value to money services</h6>
          <sub class="text-center"> Our Professionals are reliable & well trained</sub> 
      </div>
      <div class="col-3 d-flex flex-column justify-content-center align-items-center ">
          <img  class=" "src="../../assets/imgs/clipart3078264 (1).png" alt="rating" width="100px">
          <h6 class="mt-3 text-center quality-headings"> Super App</h6>
          <sub class="text-center"> Our Professionals are reliable & well trained</sub> 
      </div>
  </div>
</div>
  
</section>



<!-- Section 66666666666666666666666666666 -->
<div class="container" style="margin-top: 50px;">
  <!-- <img src="../../assets/imgs/1.jpg" alt=""> -->
  <div class="counter-wrapper">
    <div class="counter">
      <img src="../../assets/imgs/4.png" width="100" height="70">
      <h1 class="count">1500</h1>
      <p>Happy Customers</p>
    </div>
    <div class="counter">
      <img src="../../assets/imgs/3.png" width="100" height="70">
      <h1 class="count">100%</h1>
      <p>Service Guarantee</p>
    </div>
    <div class="counter">
      <img src="../../assets/imgs/2.png" width="100" height="70">
      <h1 class="count">30+</h1>
      <p>Cleaners</p>
    </div>
    <div class="counter">
      <img src="../../assets/imgs/1.png" width="100" height="70">
      <h1 class="count">1000</h1>
      <p>Cleans Completed</p>
    </div>
  </div>

</div>