<body>

	<footer class="footer" style="max-width: 98.6%; margin: auto;">
		<div class="container">
			<div class="row">
				<div class="footer-col">
					<h4>Moving & Storage</h4>
					<ul>
						<li><a href="#">Local Moving In Dubai</a></li>
						<li><a href="#">International moving from Dubai</a></li>
						<li><a href="#">Villa Moving in Dubai</a></li>
						<li><a href="#">Furniture moving in Dubai</a></li>
						<li><a href="#">Office moving in Dubai</a></li>
						<li><a href="#">Storage in Dubai</a></li>
						<li><a href="#">Furniture storage in Dubai</a></li>
						<li><a href="#">Self storage in Dubai</a></li>
						<li><a href="#">Car shipping in Dubai</a></li>
						<li><a href="#">Moving to Australia from Dubai</a></li>
						<li><a href="#">Moving to Cananda from Dubai</a></li>
						<li><a href="#">Moving to India from Dubai</a></li>
						<li><a href="#">Moving to Lebanon from Dubai</a></li>
						<li><a href="#">Moving to the UK from Dubai</a></li>
						<li><a href="#">Moving to the USA from Dubai</a></li>

						<h4>Cleaning Services</h4>
						<li><a href="#">Home Cleaning Services in Dubai</a></li>
						<li><a href="#">Carpet cleaning in Dubai</a></li>
						<li><a href="#">Deep Cleaning in Dubai</a></li>
						<li><a href="#">Laundary Services in Dubai</a></li>
						<li><a href="#">Mattress cleaning in Dubai</a></li>
						<li><a href="#">Office cleaning services in Dubai</a></li>

					</ul>
				</div>
				<div class="footer-col">
					<h4>Maintainance & Handyman </h4>
					<ul>
						<li><a href="#">Handyman in Dubai</a></li>
						<li><a href="#">Home Maintainance in Dubai</a></li>
						<li><a href="#">Annual Maintainance contracts in Dubai</a></li>
						<li><a href="#">Building and flooring in Dubai</a></li>
						<li><a href="#">Carpentry in Dubai</a></li>
						<li><a href="#">Curtains and Blinds hanging in Dubai</a></li>
						<li><a href="#">Curtains and Blinds in Dubai</a></li>
						<li><a href="#">Electracian in Dubai</a></li>
						<li><a href="#">Furniture assambly in Dubai</a></li>
						<li><a href="#">Home Appliance and Installation in Dubai</a></li>
						<li><a href="#">Light bulbs and spotlights in Dubai</a></li>
						<li><a href="#">Locksmiths in Dubai</a></li>
						<li><a href="#">Plumber in Dubai</a></li>
						<li><a href="#">TV Mounting in Dubai</a></li>

						<h4>Painting</h4>
						<li><a href="#">Painting in Dubai</a></li>
						<li><a href="#">Exterior Painting in Dubai</a></li>




					</ul>
				</div>
				<div class="footer-col">
					<h4>AC Services</h4>
					<ul>
						<li><a href="#">AC Cleaning in Dubai</a></li>
						<li><a href="#">AC duct Cleaning in Dubai</a></li>
						<li><a href="#">AC Installation in Dubai</a></li>
						<li><a href="#">AC Maintainance in Dubai</a></li>
						<li><a href="#">AC repair in Dubai</a></li>

						<h4>Pest Control</h4>
						<li><a href="#">Ants pest control in Dubai</a></li>
						<li><a href="#">Bed bugs pest control in Dubai</a></li>
						<li><a href="#">Cockroach pest control in Dubai</a></li>
						<li><a href="#">Rat and mice pest control in Dubai</a></li>
						<li><a href="#">Termites pest control in Dubai</a></li>

						<h4>Gardening</h4>
						<li><a href="#">Annual Gardening contracts in Dubai</a></li>
						<li><a href="#">Gardening in Dubai</a></li>
						<li><a href="#">Gazebos, decks and porches in Dubai</a></li>
						<li><a href="#">Grass lawns in Dubai</a></li>
						<li><a href="#">Landscaping in Dubai</a></li>
						<li><a href="#">Swimming pools and water features in Dubai</a></li>






					</ul>
				</div>

				<div class="footer-col">
					<h4>Health at Home</h4>
					<ul>
						<li><a href="#">COVID-19 PCR test at Home in Dubai</a></li>
						<li><a href="#">Doctor on call in Dubai</a></li>
						<li><a href="#">Blood test at home in Dubai</a></li>
						<li><a href="#">Nurse at home in Dubai</a></li>
						<li><a href="#">IV Drip at Home in Dubai</a></li>
						<li><a href="#">Personal Trainer ar Home in Dubai</a></li>
						<li><a href="#">Cleaning and sanitization in Dubai</a></li>

						<h4>Saloon at Home</h4>
						<li><a href="#">Womens's Salon At Home in Dubai</a></li>
						<li><a href="#">Luxary Salon at home in Dubai</a></li>
						<li><a href="#">Men's Salon at Home in Dubai</a></li>
						<li><a href="#">Spa at home in Dubai</a></li>
						<li><a href="#">Hair at Home in Dubai</a></li>
						<li><a href="#">Waxing at home in Dubai</a></li>
						<li><a href="#">Nails at home in Dubai</a></li>

						<h4>Nannies and Maids</h4>
						<li><a href="#">Babysitters and nannies in Dubai</a></li>
						<li><a href="#">Full-time maids in Dubai</a></li>
						<li><a href="#">Part-time maids in Dubai</a></li>

						<h4>Pet Services</h4>
						<li><a href="#">Pet grooming in Dubai</a></li>

					</ul>
				</div>

			</div>

			<div class="row">

				<div class="footer-col">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">FAQs</a></li>
						<li><a href="#">The Home Project Blog</a></li>
						<li><a href="#">Write a Review</a></li>
						<li><a href="#">Our service guarantee</a></li>
						<li><a href="#">Service Complaints</a></li>
					</ul>
				</div>

				<div class="footer-col">
					<h4>About us</h4>
					<ul>
						<li><a href="#">About us</a></li>
						<li><a href="#">Payment and refund Policy</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Contact Us</a></li>

					</ul>
				</div>

				<div class="footer-col">
					<h4>Partners</h4>
					<ul>
						<li><a href="#">Become a partner</a></li>

					</ul>
				</div>


				<div class="footer-col">
					<h4>Get in Touch</h4>
					<ul>
						<li><a href="#">Address: 1403, Fortune Executive Tower, Cluster T, JLT, Dubai, UAE.</a></li>
						<li><a href="#">Phone: +971 4 506 1500</a></li>
						<li><a href="#">FAX: +971 4 422 9823</a></li>
						<li><a href="#">Email: support@servicemarket.com</a></li>

					</ul>
				</div>
       

     <div class="row"> 
        
      <div class="footer-col">
        <h4>Download App</h4>
        <ul style="display: flex;">
           <img src="../../assets/imgs/Apple.png" width="200" height="80">
           <img src="../../assets/imgs/goolge playstore.png" width="200" height="225" style="margin-top: -74px;">  
        </ul>
       </div>
      
				<div class="footer-col">
					<h4>follow us</h4>
					 <div class="social-links">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
						<a href="#"><i class="fab fa-google"></i></a>
						<a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
				</div>

    
      </div>
    </div>
  </div>
	</footer>

</body>